<div class="clock">
    <div class="digit pos-0">
        <span></span>
        <span>1</span>
        <span></span>
    </div>
    <div class="digit pos-0">
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>0</span>
    </div>
    <div class="colon">:</div>
    <div class="digit pos-0">
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>0</span>
    </div>
    <div class="digit pos-0">
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>0</span>
    </div>
    <div class="colon">:</div>
    <div class="digit pos-0">
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>0</span>
    </div>
    <div class="digit pos-0">
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>0</span>
    </div>
    <div class="ampm pos-0">
        <span>AM</span>
        <span>PM</span>
        <span>AM</span>
    </div>
</div>
